.about-me-container {
    display: flex;  
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    background-color: #ffffff9c;
   

}

.about-me-mid-section {
    background-color: #ffffffd8;
    width: 40%;
    height: 40%;
    padding: 0.7%;
    
    /* border: 1px dotted red; */
    border-radius: 10px;

    box-shadow: 0 0 15px #DF5A49;
    -moz-box-shadow: 0 0 15px #DF5A49;
    -webkit-box-shadow: 0 0 15px #DF5A49;
    display: flex;
    justify-content: start;
    align-items: center;
}

.about-me-mid-section:nth-child(odd) {
    margin-right: 5%;
}

.about-me-mid-section:first-child,  .about-me-mid-section:first-child + div {
    margin-top: 40px;
}
.about-me-mid-section:last-child, .about-me-mid-section:nth-last-child(2){
    margin-bottom: 40px;
}

.about-me-mid-section-img {
    margin-right: 5px;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 9px #56423E;
    -moz-box-shadow: 0 0 9px #56423E;
    -webkit-box-shadow: 0 0 9px #56423E;
}

.about-me-mid-section-description-img {
    width: 30px;
    border-radius: 30px;
}

.about-me-mid-section-description-img:hover {
   background-color: rgba(223, 90, 73, 0.589);
}

.about-me-mid-section-description {
    border-radius: 10px;
    /* box-shadow: 0 0 3px #56423E;
    -moz-box-shadow: 0 0 3px #56423E;
    -webkit-box-shadow: 0 0 3px #56423E; */

    /* background-color: #ffffff; */
    width: 40%;
    height: 90%;
    padding: 2%;
    color: #DF5A49
}


