.hero-container {
    
    margin: 0 auto;
    width: 70%;   
    height: 100vh;
    background-image: url(../img/hero-craft.jpeg);
    background-size: contain;
    box-shadow: 0 0 25px #BEA6A1;
    -moz-box-shadow: 0 0 25px #BEA6A1;
    -webkit-box-shadow: 0 0 25px #BEA6A1;
    
}

