.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 50px;
    background-color: #BEA6A1;
    
    -webkit-box-shadow: 0px 4px 5px 2px rgba(32, 31, 31, 0.5);
    -moz-box-shadow: 0px 4px 5px 2px  rgba(32, 31, 31, 0.5);
    box-shadow: 0px 4px 5px 2px  rgba(32, 31, 31, 0.5);
}

.navigation-container a {
    flex-grow: 3;
    
    text-align: center;
    line-height: 50px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    color: inherit;

    transition: 0.3s;
}

.navigation-container a:hover {
    background-color: rgb(173, 150, 147);
}

.navigation-container .navigation-to-top {
    flex-grow: 1;
    font-size: 1rem;
    line-height: 25px;
   
}
.navigation-container .navigation-to-top:hover {
    color: #DF5A49;
    background-color: #BEA6A1;
}
